@font-face {
    font-family: 'BMJUA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dongdong';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: 'BMJUA', Arial, sans-serif;
}

div#background {
    height: 100%;
    width: 100%;
    background-image: url(./background.jpg);
    background-repeat: repeat-y;
    ;
    padding-top: 20px;
}

div#gallery {
    width: 800px;
    margin: auto;
    margin-top: 10%;
}


#background img {
    /* height: 150px; */
    height: 279px;
    /* height: 409px; */
    margin: 0px;
}

#background figure {
    float: left;
    position: relative;
    background-color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 2px 3px black;
    font-size: small;
    color: #6c6565;
}

#background figure figcaption {
    text-align: left;
}

figure.images {
    z-index: 1;
    border: 1px solid white;
    border-radius: 10px;
}

.clickable-image {
    /* width: 100px; */
    width: 150px;
    /* width: 220px; */
    cursor: pointer;
    transition: transform 0.3s;
}

.clickable-image:hover {
    transform: scale(1.1);
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 60px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    margin-top: 10%;
}

/* Caption of Modal Image (optional) */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

/* Add Animation */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
    border-radius: 20px;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}


.header-text {
    line-height: 1em;
    color: #fff9d6;
    font-style: italic;
    font-size: 134px;
    text-shadow: 0px 0px 0 rgb(235, 235, 235), 1px 1px 0 rgb(225, 225, 225), 2px 2px 0 rgb(215, 215, 215), 3px 3px 0 rgb(206, 206, 206), 4px 4px 0 rgb(196, 196, 196), 5px 5px 0 rgb(186, 186, 186), 6px 6px 0 rgb(176, 176, 176), 7px 7px 0 rgb(166, 166, 166), 8px 8px 0 rgb(156, 156, 156), 9px 9px 8px rgba(0, 0, 0, 0.65), 9px 9px 1px rgba(0, 0, 0, 0.5), 0px 0px 8px rgba(0, 0, 0, .2);
}